main.installation-page {
  & li {
    display: flex;
    flex-direction: column;
  }
  & .image-wrapper {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    outline: 0.4rem solid #2a5981;
    outline-offset: -0.4rem;
    box-shadow: 0 0.5rem 1rem #00000030;

    &:hover {
      box-shadow: 0 0.5rem 1rem #00000050;
    }
  }
}