main.installation-page {
  & section {
    &:nth-child(1) {
      padding: 1rem 1rem 0;

      & .wrapper {
        padding: 1rem;
        border-radius: 1rem;
        height: fit-content;
        width: 100%;
        background: linear-gradient(
          to right,
          var(--color-p-o),
          var(--color-s-o)
        );
        color: var(--color-l-o);
      }
    }

    &:nth-child(2) {
      padding: 0 2rem;

      & ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        & li {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          & .image-wrapper {
            height: fit-content;
            width: 100%;
            border-radius: 2rem;
            overflow: hidden;
            border-bottom: 2px solid;
            outline: 6px solid;
            outline-offset: -6px;
            outline-color: #2a5981;
            box-shadow: 0 0.5rem 1rem #00000030;
            
            &:hover {
              box-shadow: 0 0.5rem 1rem #00000050;
            }
          }
        }
      }
    }
  }
}