.theme-toggle {
  position: fixed;
  top: 2rem;
  right: 2rem;
  display: flex;
  gap: 1rem;
  z-index: 20;
}

.sidebar {
  position: sticky;
  top: 0;
  display: flex;
  height: 100svh;
  padding: 1rem;
  padding-right: 0;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0 0 4rem #00000030;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;

  & .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 100%;
    width: 100%;
    border-radius: 1rem;

    & .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      height: fit-content;
      width: 100%;
      padding: 1rem;
      background-color: var(--bg);
    }

    & .tree {
      height: 100%;
      width: 100%;
      background-color: var(--primary-l);
      border-radius: 1rem;
      padding: 1rem;
      overflow-y: scroll;

      & li {
        height: fit-content;
        width: 100%;

        & button {
          display: flex;
          height: fit-content;
          width: 100%;
          border-radius: 0.5rem;
          padding: 0.75rem;
          font-size: 0.9rem;
          background-color: transparent;
          border: none;
          outline: none;

          &:hover,
          &:focus-visible,
          &.active {
            background-color: var(--primary-d);
            color: var(--primary-l);
            box-shadow: 0 0.5rem 1rem #00000050;
          }

          &.active {
            font-weight: bold;
          }
        }
      }


      &::-webkit-scrollbar {
        display: none;
      }

      & ul {
        display: flex;
        justify-content: start;
        align-items: start;
        gap: 0;
        height: fit-content;
        width: 100%;
        border-radius: 0.5rem;

        &:hover,
        &.active,
        &.opened {
          background-color: var(--primary-o);
        }

        & li.nav-buttons-toggle {
          display: flex;
          flex-direction: row;
          justify-content: start;
          align-items: center;
          gap: 0.5rem;
          height: 3rem;
          width: 100%;
          border-radius: 0.5rem;
          padding: 1rem;
          color: var(--primary-d);

          & .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 1rem;
            width: 1rem;

            &.rotate {
              transform: rotate(90deg);
            }
          }

          & p {
            font-size: 0.9rem;
            user-select: none;
          }
        }

        & li.nav-button-wrapper {
          padding-left: 3rem;
        }
      }
    }
  }
}