main.intro-page {
  & section.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    width: 100%;
    & .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: none;
      color: var(--fg);
    }
  }
}