main.basics-page {
  & section {
    &:nth-child(1) {
      padding: 1rem 1rem 0;

      & .wrapper {
        padding: 1rem;
        border-radius: 1rem;
        height: fit-content;
        width: 100%;
        background: linear-gradient(to right,
            var(--color-p-o),
            var(--color-s-o));
        color: var(--color-l-o);
      }
    }

    &:nth-child(2),
    &:nth-child(3) {
      padding: 0 2rem;

      & .wrapper {
        gap: 1rem;

        &>div {
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;

          &.step {
            margin-left: 1rem;
          }

          & ul {
            &.step {
              margin-left: 1rem;
            }
            & li {
              display: flex;
              gap: 0.5rem;
              list-style: none;
              position: relative;
            }
          }
        }
      }
    }
  }
}