:root {
  /* Primary */
  --color-p-o: hsl(196, 47%, 55%);
  --color-p-l: hsl(196, 35%, 67%);
  --color-p-d: hsl(196, 39%, 10%);

  /* Secondary */
  --color-s-o: hsl(290, 47%, 55%);
  --color-s-l: hsl(290, 68%, 79%);
  --color-s-d: hsl(291, 39%, 10%);

  /* Lights */
  --color-l-o: hsl(0, 0%, 85%);
  --color-l-o-t: hsla(0, 0%, 85%, 0.75);
  --color-l-l: hsl(0, 0%, 100%);
  --color-l-d: hsl(0, 0%, 80%);

  /* Darks */
  --color-d-o: hsl(0, 0%, 10%);
  --color-d-o-t: hsla(0, 0%, 10%, 0.75);
  --color-d-l: hsl(0, 0%, 20%);
  --color-d-d: hsl(0, 0%, 0%);

  /* Neutrals */
  --color-n-o: hsl(0, 0%, 50%);
  --color-n-l: hsl(0, 0%, 70%);
  --color-n-d: hsl(0, 0%, 30%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.1s ease-in-out;
}

body {
  background-color: var(--bg);
  color: var(--fg);

  &.light {
    --bg: var(--color-l-o);
    --fg: var(--color-d-o);
    --primary-o: var(--color-p-o);
    --primary-l: var(--color-p-l);
    --primary-d: var(--color-p-d);
    --secondary-o: var(--color-s-o);
    --secondary-l: var(--color-s-l);
    --secondary-d: var(--color-s-d);

    & ::selection {
      background-color: var(--color-p-l);
      color: var(--color-d-o);
    }

    &::-webkit-scrollbar-thumb {
      background: linear-gradient(var(--color-p-o), var(--color-p-l));
    }

    &::-webkit-scrollbar-thumb:hover {
      background: linear-gradient(var(--color-s-o), var(--color-s-l));
    }

    & .code-container,
    & .single-line-code {
      background-color: var(--color-l-d);
    }

    & .popup {
      background-color: var(--color-l-o-t);
    }
  }

  &.dark {
    --bg: var(--color-d-o);
    --fg: var(--color-l-o);
    --primary-o: var(--color-s-o);
    --primary-l: var(--color-s-l);
    --primary-d: var(--color-s-d);
    --secondary-o: var(--color-p-o);
    --secondary-l: var(--color-p-l);
    --secondary-d: var(--color-p-d);

    & ::selection {
      background-color: var(--color-s-l);
      color: var(--color-d-o);
    }

    &::-webkit-scrollbar-thumb {
      background: linear-gradient(var(--color-s-o), var(--color-s-l));
    }

    &::-webkit-scrollbar-thumb:hover {
      background: linear-gradient(var(--color-p-o), var(--color-p-l));
    }

    & .code-container,
    & .single-line-code {
      background-color: var(--color-d-l);
    }

    & .popup {
      background-color: var(--color-d-o-t);
    }
  }

  &.glow {
    & span {

      &.highlight {
        text-shadow: 0 0 1rem;
      }

      &.purple,
      &.orange {
        text-shadow: 0 0 0.5rem;
      }
    }

    & .divider-section {
      & .wrapper {
        & .divider {
          &::before {
            opacity: 1;
          }
        }
      }
    }
  }
}

::-webkit-scrollbar {
  width: 14px;
  background-color: var(--bg);
}

::-webkit-scrollbar-thumb {
  border-radius: 7px;
  border: 3px solid var(--bg);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}

p {
  font-size: 1.25rem;
}

span.highlight {
  color: var(--primary-o);
  font-weight: 500;
}

.code-container,
.single-line-code {
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.25rem;

  &.code-container {
    box-shadow: 0 0.5rem 1rem #00000030;
  }

  &.single-line-code {
    padding: 0.4rem;
    border-radius: 0.4rem;
  }

  & * {
    font-family: "consolas";
  }

  & .purple {
    color: #b1009c;
  }

  & .green {
    color: #00aa00;
  }

  & .blue {
    color: #0000ff;
  }

  & .red {
    color: #ff0000;
  }

  & .yellow {
    color: #ffff00;
  }

  & .orange {
    color: #ff7700;
  }
}

.step {
  margin-left: 1rem;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.fill-primary-secondary {
  background: linear-gradient(to right,
      var(--primary-o),
      var(--secondary-o));
  height: fit-content;
  width: fit-content;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button.primary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  height: fit-content;
  width: fit-content;
  border: none;
  outline: none;
  background-color: var(--primary-o);
  color: var(--color-l-l);
  font-size: 1.25rem;
  border-radius: 0.5rem;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    box-shadow: 0 0.5rem 1rem #00000010;
    scale: 1.1;
  }

  &:active {
    scale: 0.9;
  }

  & svg {
    transform: translateY(5%);
  }
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.5rem;

  & li {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
    position: relative;

    &.point::before {
      content: ">";
      transform: translateY(5%);
    }
  }
}

.app {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.content.main-content {
  display: flex;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: fit-content;
  width: 100%;
  padding-top: 4.5rem;

  & section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    padding: 0 2rem;

    & .wrapper {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      height: fit-content;
      width: 100%;
    }

    &.hero-section {
      padding: 1rem 1rem 0;

      & .wrapper {
        padding: 1rem;
        background: linear-gradient(to right,
            var(--primary-o),
            var(--secondary-o));
        border-radius: 1rem;
        color: var(--bg);
      }
    }

    &.step-section {
      padding: 0 2rem 2rem;

      & .wrapper {
        display: flex;
        flex-direction: row;
        align-items: end;
      }

      &.start {
        & .wrapper {
          justify-content: start;
        }
      }

      &.space-between {
        & .wrapper {
          justify-content: space-between;
        }
      }

      &.end {
        & .wrapper {
          justify-content: end;
        }
      }
    }

    &.divider-section {
      padding: 0 2rem;

      & .wrapper {
        & .divider {
          position: relative;
          margin: 1rem 0;
          height: 0.5rem;
          width: 100%;
          background: linear-gradient(to right,
              var(--primary-o),
              var(--secondary-o));
          border-radius: 50%;

          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 100%;
            width: 100%;
            background: linear-gradient(to right,
                var(--primary-o),
                var(--secondary-o));
            filter: blur(10px);
            opacity: 0;
            pointer-events: none;
            transition: 0.1s ease-in-out;
          }
        }
      }
    }

    &.question-paper-section {
      & .wrapper {
        & .head {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }

  & .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
    max-height: 100svh;
    width: 100%;
    padding: 2rem;
    backdrop-filter: blur(30px);
    z-index: 3;
    opacity: 0;
    pointer-events: none;
    transition: all 0.1s ease-in-out;

    &.open {
      opacity: 1;
      pointer-events: all;
    }

    & .wrapper {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      & .head {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 2rem;
      }

      & .content {
        &>ul {
          display: flex;
          flex-direction: column;
          gap: 2rem;
        }
      }
    }
  }
}